@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
    align-items: flex-start;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
    
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tab */

.tab-container {
    position: relative;
    width: 560px;
    height: 55px;
    background: #EEEEEE;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.tab-btn {
    position: absolute;
    width:33.3%;
    height: 100%;
    background: #01CD74;
    border-radius: 30px;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

.tab-btn-second {
	transform: translateX(100%);
}

.tab-btn-third {
    transform: translateX(200%);
}

.tab-text {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    transition: color 0.3s ease-in-out;
}

.tab-text-on {
    color: black;
    font-weight: bold;
}

.tab-text-off {
    color: #999999;
    font-weight: bold;
}

/* tree */

.tree-wrapper {
    width: 1160px;
    height: 600px;
}

.tree-container {
    width: 1160px;
    height: 600px;
    background-color: gray;
}

.tree-title-word {
    width: 100%;
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.tree-button-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.tree-button-group .save-button,
.tree-button-group .cancel-button {
    color: white;
}

.tree-button-group .save-button {
    background: #06C371;
    border: none;
    width: 85px;
    height: 30px;
    border-radius: 50px;

}

.tree-button-group .cancel-button {
    background: #FF4E00;
    border: none;
    width: 85px;
    height: 30px;
    border-radius: 50px;
}

/* item */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1402px;
    height: 1300px;
    background: #f5fcf0;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #06C371;
}

.decorate-title-word {
    width: 100%;
    font-size: 24px;
    padding-top: 79px;
    padding-bottom: 79px;
}

.decorate-menu-word {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 14px;
    margin-bottom: 56px;
}

.decorate-tab-container {
    width:  100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.decorate-tab {
    text-align: center;
    line-height: 33px;
    width:80px;
    height: 33px;
    background-color: #f5fcf0;
    border:none;
    border-top-left-radius: 6.3px;
    border-top-right-radius: 6.3px;
    border-top: 1px solid #06C371;
    border-left: 1px solid #06C371;
    border-right: 1px solid #06C371;
}

.decorate-tab.selected {
   background-color: #06C371;
   color: #ffffff;
}

.folder {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 1172px;
    height: 100px;
}

.folder-item, .folder-item-sticker {
    width: 160px;
    height: 244px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-sizing: border-box; 
    border: 3px solid transparent;
}


.item-button-group button:nth-child(2) {
    background: #EEEEEE;
}

.folder-wrapper {
    width: 1172px;
    height: 1063px;
}

.folder-item.selected {
    border: 3px solid #06C371;
    border-radius: 40px;
}

.folder-item img {
    width: 116px;
    height: 60px;
    border-radius: 5px;
    
}

.folder-item span {
    margin-top: 5px;
    font-size: 14px;
}

.item-button-group {
    display: none;
    margin-top: 15px;
    gap: 10px;
}

.folder-item.selected .item-button-group {
    display: flex;
}

.item-button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border: none;
    background: #0099cc;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    transition: 0.3s;
    margin-top:30px;
}

.item-button-group button:hover {
    background: #45a049;
}

/* pagination */

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8fdf7;
    padding: 10px 20px;
    border-radius: 10px;
}

.pagination a {
    text-decoration: none;
    color: #aaa;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s;
}

.pagination a.active {
    background: #06C371;
    color: white;
    font-weight: bold;
}

.pagination a:hover {
    background: rgba(106, 191, 105, 0.2);
}

.pagination .dots {
    color: #aaa;
    font-size: 18px;
}

.pagination .arrow {
    font-size: 20px;
    color: #6abf69;
    cursor: pointer;
}

.pagination .arrow:hover {
    opacity: 0.7;
}