@charset "UTF-8";
/* styles.css */
/* 전체 페이지에서 드래그 방지 */
body, html {
    user-select: none; /* 텍스트 드래그 방지 */
    -webkit-user-select: none; /* 크롬, 사파리 */
    -moz-user-select: none; /* 파이어폭스 */
    -ms-user-select: none; /* 인터넷 익스플로러 */
}

body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: 000000;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.speech-bubble {
    background-color: #01CD74;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    max-width: 500px;
    font-size: 16px;
    line-height: 2;
    position: relative;
    text-align: left;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #01CD74;
}

.logo-img {
    width: 180px;
    margin: 80px 0;
}

.start-btn {
    background-color: #009DCC;
    width: 157PX;
    height: 43PX;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #004c82;
}