@charset "UTF-8";

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.speech-bubble {
    position: relative;
    background-color: var(--main-green);
	color: var(--white);
    padding: 35px 35px;
    border-radius: 20px;
    font-size: var(--h4);
	font-family: 500;
    text-align: left;
	line-height: 45px;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid var(--main-green);
}

.container-left img {
    width: 240px;
    height: 185px;
    margin-top: 50px;
}

.right-box {
    text-align: left;
    width: 50%;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.subtext {
    color: gray;
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 500px;
    margin-top: 10px;
}

.tag {
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.1s;
}

.tag:hover {
    background-color: #EFFFF8;
}

.tag.selected {
    background-color: #24C394;
    color: white;
}

.back-btn {
    background-color: #BBBBBB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 90px;
}
.back-btn:hover {
    background-color: #707070;
}

.next-btn {
    background-color: #24C394;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 90px;
}

.next-btn:hover {
    background-color: #1b8a69;
}