@charset "UTF-8";

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    text-align: left;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.speech-bubble {
	width: 480px;
	height: 135px;
    position: relative;
    background-color: var(--main-green);
	color: var(--white);
    padding: 35px 35px;
    border-radius: 20px;
    font-size: var(--h4);
	font-family: 500;
	line-height: 45px;
	display: flex;
	align-items: center;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid var(--main-green);
}

.container-left img {
    width: 240px;
    height: 185px;
    margin-top: 50px;
}

.container-right {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-right-wrapper {
	width: 560px;
	height: 553px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-title {
	font-size: var(--h4);
	font-family: 500;
}

.sub-title {
	margin-left: 42px;
}

.sub-title span{
	font-size: var(--h6);
	font-family: 500;
	color: var(--gray6);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	overflow: hidden;
}

.tag {
	padding: 8px 16px;
	border-radius: 50px;
	background-color: var(--white);
	font-size: var(--h6);
	font-family: 500;
	margin-top: 11px;
	margin-right: 11px;
}

.tag:hover {
	background-color: var(--light-green);
}

.selected {
	background-color: var(--sub-green);
	color: var(--white);
}

.selected:hover {
	background-color: var(--sub-green);
	color: var(--white);
}

.next-btn-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn-spacing {
	width: 344px;
	display: flex;
	justify-content: space-between;
}

.back-btn {
	background-color: var(--gray3);
	width: 157px;
    height: 43px;
    color: var(--white);
    border: none;
    font-size: var(--h6);
    font-family: 600;
    border-radius: 10px;
    cursor: pointer;
}

.next-btn {
	background-color: var(--sub-green);
	width: 157px;
    height: 43px;
    color: var(--white);
    border: none;
    font-size: var(--h6);
    font-family: 600;
    border-radius: 10px;
    cursor: pointer;
}