@charset "UTF-8";

#calendar {
    width: 80vw;
    height: 80vh;
}

#yrModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 150, 150, 0.7);
    display: none;
    z-index: 1000;
}

#cont {
    margin: 50px auto;
    width: 50%;
    height: 70%;
    background-color: darkblue;
    color: yellow;
}