@charset "UTF-8";
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
}
.container {
    width: 1400px;
    display: flex;
    justify-content: center;
    margin: 0 260px;
}

/* 마이페이지 오른쪽 내용 */
.right-contentbox {
    width: 1159px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

/* 마이페이지 왼쪽 바 */
.sidebar {
    width: 200px;
    height: 1000px;
    border: solid #DDDDDD 1px;
    margin: 70px 40px 0 0;
}


/* 나만의 나무 설명 텍스트 */
.tree-info {
    width: 1159px;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.tree-info-style {
    font-size: 14px;
    font-weight: 100;
}

.tree-info-left {
    width: 1160x;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.go-tree {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #424242;
    height: 40px;
    border-bottom: 1px solid black;
}

.go-tree-style {
    font-size: 18px;
    font-weight: 500;
}

/* 나만의 나무 */
.tree {
    width: 1159px;
    height: 600px;
    border: solid #DDDDDD 1px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.tree-background {
    width: 1160px;
    height: 600px;
}

/* 유저 프로필 사진 */
.profile {
    width: 200px;
    height: 200px;
    border-bottom: solid #DDDDDD 1px;
}

/* 유저 닉네임, 상태 메세지 */
.profile-setting {
   font-weight: 300;
   font-size: 14px;
    width: 200px;
    height: 100px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nickname {
    padding-top: 20px;
}

/* 마이페이지 항목 */
.mypage {
    width: 200px;
    height: 100px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    flex-direction: column;
}

/* 커뮤니티 항목 */
.community {
    width: 200px;
    height: 100px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    flex-direction: column;
}

/* 내 정보 항목 */
.myinfo {
    width: 200px;
    height: 120px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    flex-direction: column;
}

.icon {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
}

.link {
    font-size: 14px;
    font-weight: 300;
    padding: 2px 0 2px 44px;
}

#now {
   color: #01CD74;
   text-decoration: underline;
}



a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #01CD74; /* 마우스를 올렸을 때 색 변경 */
}

.go-tree a {
   font-weight: 300;
}

strong {
    font-size: 18px;
    font-weight: 500;
}

/* =================================================================== */

.best-achievement {
   margin-top: 20px;
   width: 100%;
   height: 400px;
}

.best-achievements-container {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin:0 auto;
    margin-top: 60px;
    gap: 40px;
}

.achievements-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 100px 40px;
    width: max-content;
    margin: 60px auto 0;
}

.best-achievement-card {
   width: 200px;
    height: 230px;
    background-color: #EEFFF8;
    border: 1px solid #01CD74;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding-top: 40px;
    text-align: center;
}

.achievement-card {
    width: 200px;
    height: 230px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding-top: 40px;
    text-align: center;
}

.achievement-icon-container {
    position: absolute;
    top: -40px; 
    background-color: #FFF45F; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.achievement-icon {
    width: 80px;
    height: 80px;
}

.achievement-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.achievement-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom:17px;
}

.achievement-line {
    width: 163px;
    height: 1px;
    background-color: #B9D2C7;
    margin-bottom: 6px;
}

.achievement-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: auto;
    margin-top: 17px;
}

.achievement-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 6px;
    padding:0;
}

.check-icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.achievement-description {
    font-size: 14px;
    color: #000;
    text-align: left;
    margin:0;
    padding:0;
}

.achievement-points {
   text-align:left;
    font-size: 14px;
    color: #000;
    font-weight: regular;
    margin:0;
    padding:0;  
}

.have-achievement {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   width: 920px;
   height: 100%;
}

.selected-for-best {
    outline: 1px solid #01CD74;
    background-color: #EEFFF8;
    transition: 0.3s;
}