@charset "UTF-8";

/* 메인 스타일 */

a {
  text-decoration: none;
  color: inherit;
}

.main {
    width: 1000px;
    height: auto;
    margin: auto;
}

.none {
    display: none;
}

.hide {
    display: none;
}

.title-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: black solid 1px;
    margin-top: 140px;
    align-items: center;
    padding: 13px 0;
}

.post-title {
    font-size: var(--h4);
    color: var(--black);
    font-family: 600;
}

.title-top-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-update {
	border: none;
	background: none;
	padding: 0 5px;
	color: var(--point-red);
	font-size: var(--h8);
	border-right: solid 1px var(--point-red);
	cursor: pointer;
}

.post-delete {
	border: none;
	background: none;
	padding: 0 5px;
	color: var(--point-red);
	font-size: var(--h8);
	cursor: pointer;
}

.post-create-time {
    font-size: var(--h8);
    color: var(--black);
    padding-left: 10px;
}

.member-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-info img {
    width: 24px;
    height: 24px;
    border-radius: 36px;
}

.member-name {
    font-size: var(--h8);
    padding: 0 10px;
}

.title-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.post-info {
    display: flex;
    align-items: center;
}

.post-info-box {
    padding-left: 10px;
}

.post-info-box:nth-child(1) {
	border-right: 1px solid black;
	padding-right: 10px;
}

.post-info-box:nth-child(2) {
	border-right: 1px solid black;
	padding-right: 10px;
}

.post-info-text {
    font-size: var(--h8);
    color: var(--gray4);
}

.post-info-count {
    font-size: var(--h8);
    color: #000000;
}

.post-main{
	display: flex;
	flex-direction: column;
    font-size: var(--h6);
    text-align: left;
    padding: 100px 0px;
}

.post-main img {
	width: 760px;
	height: 743px;
}

.post-main span {
	padding-top: 40px;
}

.post-like-btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-like-btn-off {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    font-size: var(--h5);
    color: var(--white);
    background-color: var(--gray3);
    cursor: pointer;
}

.post-like-btn-on {
    background-color: var(--sub-blue);
}

.post-comment-title {
    width: 100%;
    height: 40px;
    border-bottom: black solid 1px;
    margin-top: 80px;
    padding: 10px 0;
}

.post-comment-title-text {
    font-size: var(--h4);
    color: var(--black);
    padding-right: 10px;
    border-right: 1px solid black;
}

.post-comment-title-count {
    color: var(--sub-blue);
    font-size: var(--h4);
	padding-left: 10px;
}

.input-comment {
	width: 100%;
	height: 100px;
	margin-top: 45px;
}

.input-comment{
	width: 958px;
	height: 58px;
    padding: 20px;
    border-radius: 20px;
    font-size: var(--h6);
    resize: none;
}

.insert-box {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.insert-comment-btn {
    width: 79px;
    height: 43px;
    background-color: var(--gray3);
    color: var(--white);
    border-style: none;
    border-radius: 50px;
    font-size: var(--h7);
    cursor: pointer;
}

.insert-comment-btn-on {
    background-color: #009DCC;
}

.comment-text-count {
    color: #000000;
    font-size: var(--h6);
    font-weight: bold;
}

.comment-text-max {
    color: var(--gray2);
    font-size: var(--h6);
    margin: 0 10px;
    font-weight: bold;
}

.post-comment-box {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.post-comment {
    width: 100%;
    height: auto;
    border-bottom: var(--gray2) solid 1px;
  	padding: 20px 0;
}

.comment-member-box {
    display: flex;
    justify-content: space-between;
}

.member-comment-modify {
    color: var(--point-red);
    font-size: var(--h8);
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.member-comment {
    padding: 15px 0;
    font-size: var(--h7);
    max-width: 700px;
}

.comment-info {
    display: flex;
}

.comment-create-time {
    color: var(--gray4);
    font-size: var(--h9);
}

.comment-like-count {
    color: var(--gray5);
    font-size: var(--h9);
    margin-left: 10px;
}

.member-comment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-comment-like-btn {
    background-color: var(--gray3);
    font-size: var(--h5);
    border: none;
    border-radius: 50px;
    color: white;
    width: 40px;
    height: 27px;
    cursor: pointer;
}

.member-comment-like-btn-on {
    background-color: #009DCC;
}

.modify-input {
    width: 100%;
    border-radius: 20px;
    margin-top: 45px;
    outline: none;
    padding-top: 20px;
    padding-bottom: 80px;
    font-size: var(--h6);
    padding-left: 20px;
    padding-right: 20px;
    resize: none;
}

.modify-hide-box {
    display: flex;
    justify-content: right;
    padding: 10px 0;
    align-items: center;
}

.modify-delete-btn {
    width: 120px;
    height: 43px;
    background-color: var(--gray3);
    color: var(--white);
    border-style: none;
    border-radius: 50px;
    font-size: var(--h7);
    cursor: pointer;
}

.modify-add-btn {
    width: 120px;
    height: 43px;
    background-color: #009DCC;
    color: var(--white);
    border-style: none;
    border-radius: 50px;
    font-size: var(--h7);
    cursor: pointer;
    margin-left: 10px;
}