<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="community">
	<select id="selectAllBoardPost" resultType="BoardViewDTO">
	    SELECT
	        P.ID AS postId,
	        P.BOARD_TITLE AS boardTitle,
	        P.BOARD_CONTENT AS boardContent,
	        P.BOARD_CONTENT_CREATE_DATE AS boardContentCreateDate,
	        P.BOARD_CONTENT_VIEWS AS boardContentViews,
	        P.BOARD_HASHTAG AS boardHashtag,
	        M.ID AS memberId,
	        M.MEMBER_NICKNAME AS memberNickname,
	        NVL(MI.MEMBER_IMG_NAME, 'default.png') AS memberProfileImgName,
	        NVL(MI.MEMBER_IMG_PATH, '/assets/images/mypage') AS memberProfileImgPath,
	        (SELECT COUNT(*) FROM TBL_BOARD_LIKE BL WHERE BL.BOARD_POST_ID = P.ID) AS likeCount,
	        (SELECT COUNT(*) FROM TBL_BOARD_COMMENT BC WHERE BC.BOARD_POST_ID = P.ID) AS commentCount,
	        NVL(BI.BOARD_IMG_PATH, 'default.png') AS boardImgPath,
	        NVL(BI.BOARD_IMG_NAME, '/assets/images/community') AS boardImgName
	    FROM TBL_BOARD_POST P
	    JOIN TBL_MEMBER M ON P.MEMBER_ID = M.ID
	    LEFT JOIN TBL_MEMBER_IMG MI ON M.ID = MI.MEMBER_ID
	    LEFT JOIN TBL_BOARD_IMG BI ON P.ID = BI.BOARD_POST_ID
	    ORDER BY P.BOARD_CONTENT_CREATE_DATE DESC
	</select>
	
	<select id="sortByLikes" resultType="BoardViewDTO">
			SELECT
			    P.ID AS postId,
			    P.BOARD_TITLE AS boardTitle,
			    P.BOARD_CONTENT AS boardContent,
			    P.BOARD_CONTENT_CREATE_DATE AS boardContentCreateDate,
			    P.BOARD_CONTENT_VIEWS AS boardContentViews,
			    P.BOARD_HASHTAG AS boardHashtag,
			    M.ID AS memberId,
			    M.MEMBER_NICKNAME AS memberNickname,
			    NVL(MI.MEMBER_IMG_NAME, 'default.png') AS memberProfileImgName,
			    NVL(MI.MEMBER_IMG_PATH, '/assets/images/mypage') AS memberProfileImgPath,
			    (SELECT COUNT(*) FROM TBL_BOARD_LIKE WHERE BOARD_POST_ID = P.ID) AS likeCount,
			    (SELECT COUNT(*) FROM TBL_BOARD_COMMENT WHERE BOARD_POST_ID = P.ID) AS commentCount,
			    NVL(BI.BOARD_IMG_NAME, 'default.png') AS boardImgName,
			    NVL(BI.BOARD_IMG_PATH, '/assets/images/community') AS boardImgPath
			FROM TBL_BOARD_POST P
			JOIN TBL_MEMBER M ON P.MEMBER_ID = M.ID
			LEFT JOIN TBL_MEMBER_IMG MI ON M.ID = MI.MEMBER_ID
			LEFT JOIN TBL_BOARD_IMG BI ON P.ID = BI.BOARD_POST_ID
			ORDER BY likeCount DESC
	</select>
	
	<select id="sortByViews" resultType="BoardViewDTO">
	    SELECT
	        P.ID AS postId,
	        P.BOARD_TITLE AS boardTitle,
	        P.BOARD_CONTENT AS boardContent,
	        P.BOARD_CONTENT_CREATE_DATE AS boardContentCreateDate,
	        P.BOARD_CONTENT_VIEWS AS boardContentViews,
	        P.BOARD_HASHTAG AS boardHashtag,
	        M.ID AS memberId,
	        M.MEMBER_NICKNAME AS memberNickname,
	        NVL(MI.MEMBER_IMG_NAME, 'default.png') AS memberProfileImgName,
	        NVL(MI.MEMBER_IMG_PATH, '/assets/images/mypage') AS memberProfileImgPath,
	        (SELECT COUNT(*) FROM TBL_BOARD_LIKE WHERE BOARD_POST_ID = P.ID) AS likeCount,
	        (SELECT COUNT(*) FROM TBL_BOARD_COMMENT WHERE BOARD_POST_ID = P.ID) AS commentCount,
	        NVL(BI.BOARD_IMG_NAME, 'default.png') AS boardImgName,
	        NVL(BI.BOARD_IMG_PATH, '/assets/images/community') AS boardImgPath
	    FROM TBL_BOARD_POST P
	    JOIN TBL_MEMBER M ON P.MEMBER_ID = M.ID
	    LEFT JOIN TBL_MEMBER_IMG MI ON M.ID = MI.MEMBER_ID
	    LEFT JOIN TBL_BOARD_IMG BI ON P.ID = BI.BOARD_POST_ID
	    ORDER BY P.BOARD_CONTENT_VIEWS DESC
	</select>
</mapper>