<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="event">
	<select id="eventList" resultType="EventViewDTO">
		SELECT 
		    TE.ID,
		    TE.EVENT_TITLE, 
		    TE.EVENT_START_DATE,
		    TE.EVENT_END_DATE,
		    TEI.EVENT_IMG_NAME,
		    TEI.EVENT_IMG_PATH
		FROM TBL_EVENT TE
		INNER JOIN TBL_EVENT_IMG TEI
		ON TE.ID = TEI.EVENT_ID
		ORDER BY TE.ID ASC
	</select>
	
	<select id="selectEventComments" resultType="EventCommentViewDTO">
		SELECT
			ec.EVENT_ID AS EVENT_ID,
			ec.ID AS EVENT_COMMENT_ID,
			ec.EVENT_COMMENT_DESCRIPTION AS EVENT_COMMENT_DESCRIPTION,
			ec.EVENT_COMMENT_CREATE_DATE AS EVENT_COMMENT_CREATE_DATE,
			ecl.ID AS EVENT_COMMENT_LIKE_ID,
			ecl.EVENT_COMMENT_LIKE_CREATE_DATE AS EVENT_COMMENT_LIKE_CREATE_DATE,
			m.ID AS MEMBER_ID,
			m.MEMBER_EMAIL AS MEMBER_EMAIL,
			m.MEMBER_NICKNAME AS MEMBER_NICKNAME,
			img.ID AS MEMBER_IMG_ID,
			img.MEMBER_IMG_NAME	AS MEMBER_IMG_NAME,
			img.MEMBER_IMG_PATH AS MEMBER_IMG_PATH
		FROM TBL_EVENT_COMMENT ec
		JOIN TBL_MEMBER m ON ec.MEMBER_ID = m.ID
		LEFT JOIN TBL_EVENT_COMMENT_LIKE ecl ON ec.ID = ecl.EVENT_COMMENT_ID
		LEFT JOIN TBL_MEMBER_IMG img ON m.ID = img.MEMBER_ID
		WHERE ec.EVENT_ID = #{eventId}
		ORDER BY ec.EVENT_COMMENT_CREATE_DATE DESC
	</select>
</mapper>