<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	<select id="selectAllGuestComments" resultType="GuestCommentViewDTO">
			SELECT 
			    gc.ID AS GUEST_COMMENT_ID,
			    gc.GUEST_COMMENT_DESCRIPTION AS DESCRIPTION,   
			    gc.GUEST_COMMENT_CREATE_DATE AS CREATE_DATE,     
			    m.ID AS MEMBER_ID,
			    m.MEMBER_NICKNAME AS MEMBER_NICKNAME,
			    img.MEMBER_IMG_NAME AS MEMBER_PROFILE_IMG_NAME,
			    img.MEMBER_IMG_PATH AS MEMBER_PROFILE_IMG_PATH
			FROM TBL_GUEST_COMMENT gc
			JOIN TBL_MEMBER m ON gc.MEMBER_ID = m.ID
			LEFT JOIN TBL_MEMBER_IMG img ON m.ID = img.MEMBER_ID
			ORDER BY gc.GUEST_COMMENT_CREATE_DATE DESC
	</select>
	
	<insert id="insertGuestComment">
	    INSERT INTO TBL_GUEST_COMMENT (
	        ID,
	        GUEST_COMMENT_DESCRIPTION,
	        GUEST_COMMENT_CREATE_DATE,
	        MEMBER_ID
	    ) VALUES (
	        SEQ_GUEST_COMMENT.NEXTVAL,
	        #{description},
	        SYSDATE,
	        #{memberId}
	    )
	</insert>
	
	<delete id="deleteGuestComment">
	    DELETE FROM TBL_GUEST_COMMENT
	    WHERE ID = #{guestCommentId}
	</delete>
</mapper>