<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recommendMapper">

  <select id="selectByMemberId" parameterType="long" resultType="RecommendDTO">
    SELECT 
        M.ID AS MEMBER_ID, <!-- 회원ID -->
        M.MEMBER_NICKNAME, <!-- 닉네임 -->
        I.INTEREST_BIG,  <!-- 관심사 대분류 -->
        I.INTEREST_SMALL, <!-- 관심사 소분류 -->
        R.ID AS RECOMMEND_ID, <!-- 추천ID -->
        R.RECOMMEND_CATEGORY, <!-- 추천 카테고리 -->
        R.RECOMMEND_DESCRIPTION <!-- 추천 설명 -->
    FROM 
        TBL_MEMBER M
    JOIN 
        TBL_INTEREST I ON M.ID = I.MEMBER_ID
    JOIN 
        TBL_RECOMMEND R ON TRIM(I.INTEREST_SMALL) = TRIM(R.RECOMMEND_CATEGORY)
    WHERE 
        M.ID = #{memberId}
</select>
  
</mapper>