@charset "UTF-8";

.banner-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.banner-wrapper {
  display: flex;
  width: max-content;
  transition: transform 0.5s ease;
}

.banner-wrapper.no-animation {
  animation: none !important;
}

.banner-slide {
  width: 1920px;
  height: 300px;
  position: relative;
  flex-shrink: 0;
}

.banner-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 20%;
  left: 380px;
  color: white;
  text-align: left;
  width: 100%;
}

.banner-subtitle {
  font-size: 18px;
}

.banner-title {
  font-size: 24px;
  font-weight: bold;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
}

.nav-button.left {
  left: 20px;
}

.nav-button.right {
  right: 20px;
}