@charset "UTF-8";

/* 이벤트 메인 스타일 */

a {
  text-decoration: none;
  color: inherit;
}

.hide {
	display: none;
}

.event-main {
	display: flex;
    flex-direction: column;
    width: 1400px;
    height: auto;
    margin: auto;
}

.tab-container {
	width: 100%;
	height: 55px;
	margin-top: 80px;
	display: flex;
	justify-content: center;
}

.tab {
	position: relative;
    width: 560px;
    height: 100%;
    background: var(--gray1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab-position {
	position: absolute;
    width: 50%;
    height: 100%;
    background: var(--main-green);
    border-radius: 30px;
    transform: translateX(0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-sub-position {
	position: absolute;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab span{
	font-weight: 600;
	font-size: var(--h5);
}

.tab-sub-position span{
	color: var(--gray4);
}

.tab span:hover {
	color: var(--black);
}

.title-sub {
	margin-top: 118px;
}

.title-main {
	margin-top: 4px;
}

.title-sub span {
    font-size: var(--h8);
    color: var(--gray6);
}

.title-main span {
    font-size: var(--h4);
    color: var(--black);
    font-weight: 600;
}

.slider-container {
	width: 100%;
	height: 424px;
	display: flex;
	justify-content: center;
	margin-top: 74px;
    position: relative;
}

.slider {
    width: 742px;
    border-radius: 20px;
	overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translate(-100%);
}

.slide img {
    width: 742px;
    height: 424px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.prev-btn { 
	left: 15%; 
}

.next-btn { 
	right: 15%; 
}

.event-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 49px;
}

.event-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1156px;
}

.event-list-info {
	width: 560px;
	height: 416px;
	margin-bottom: 106px;
}

.event-list-img {
	width: 560px;
	height: 344px;
}

.event-list-title {
	font-size: var(--h6);
	font-weight: 600;
	margin-top: 25px;
}

.event-list-time {
	font-size: var(--h9);
	font-weight: 400;
	color: var(--gray5);
	margin-top: 7px;
}