@charset "UTF-8";

/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 컨텐츠 레이아웃 */
.content-wrapper {
    width: 1421px;
    margin: 0 auto;
    padding: 20px 0;
}

/* 음식 추천 섹션 */
.food-recommend {
    width: 1421px;
    height: 470px;
    margin-bottom: 60px;
}

.food-list {
    display: flex;
    justify-content: space-between;
    gap: 0px; /* 마진 40px 적용 */
    flex-wrap: wrap;
}

.food-item {
   
   
    padding: 15px;
    
    text-align: center;
    width: 320px;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-item img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.food-info {
    padding: 10px 0;
    text-align: left;
    width: 100%;
}

.restaurant-name {
    font-size: 14px;
    font-weight: 300; /* Light */
    color: #000;
}

.rating {
    font-size: 14px;
    font-weight: 400; /* Regular */
    color: #FDC234;
}

.price-category {
    font-size: 14px;
    font-weight: 400; /* Regular */
    color: #333;
}

.location, .service {
    font-size: 14px;
    font-weight: 300; /* Light */
    color: #666;
}