@charset "UTF-8";


.content-wrapper {
  	width: 1400px;
  	margin: 0 auto;
  	height: 100%;
  
}

.food-recommend {
  	width: 100%;
  	max-width: 1400px;
  	margin: 40px auto;
  	padding: 20px 0;
  	display: flex;
  	flex-direction: column;
  	gap: 30px;
}

.food-title {
  	font-size: 24px;
  	font-weight: 500;
  	line-height: 35px;
  	margin-bottom: 50px;
  	margin-top: 100px;
}

.food-list {
  	display: flex;
  	justify-content: space-between;
  	gap: 20px;
  	padding: 0;
}

.food-item {
  	width: 320px;
  	height: 374px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 10px;
  	cursor: pointer;
}

.food-img a {
  	display: block;
  	border-radius: 10px;
  	overflow: hidden;
  	transition: transform 0.3s ease;
}

.food-img a:hover {
  	transform: scale(1.05);
}

.food-img img {
  	width: 320px;
  	height: 206px;
  	object-fit: cover;
  	border-radius: 10px;
  	display: block;
}


.food-info {
  	padding: 20px;
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	gap: 12px;
}

.info-block {
  	display: flex;
  	align-items: center;
  	gap: 16px;
}

.label {
  	font-size: 14px;
  	font-weight: 500;
  	color: #000;
  	min-width: 48px;
  	line-height: 28px;
}

.value.name {
  	font-size: 14px;
  	font-weight: 100;
  	color: #000;
}

.value.rating {
  	font-size: 14px;
  	font-weight: 300;
  	color: #FDC234;
}

.value.main {
  	font-size: 14px;
  	font-weight: 400;
  	color: #000;
}

.address .value {
  	font-size: 14px;
  	font-weight: 100;
  	color: #000;
}

.address .service {
  	font-size: 14px;
  	font-weight: 300;
  	color: #000;
  	line-height: 28px;
}




/* 장소 추천 */
.place-recommend {
    width: 1421px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.place-list {
  	display: flex;
  	flex-direction: column;
  	width: 600px;
  	gap: 20px;
}

.place-item {
    display: flex;
    align-items: center;
    padding: 22px;
    border-radius: 10px;
    width: 650px;
    height: 135px;
    position: relative;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}


.place-hover {
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 70%;
    background: #4CAF50;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.place-item:hover .place-hover,
.place-item.active .place-hover {
    opacity: 1;
}

.place-item img {
    width: 180px;
    height: 135px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 12px;
}

.place-info {
    margin-left: 15px;
    flex: 1;
}


.place-details {
    width: 680px;
    height: auto; 
    max-height: 520px; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;     
    position: relative;
    top: 0;
     bottom: 0; 
}

.place-details.active {
    display: flex;
    width: 680px;
    height:520px;
}


.place-details img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.place-title1 {
	font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 50px;
    margin-top: 100px;
}


/* 코디 추천 section */

.cloth-grid-wrap {
  	width: 1400px;
  	margin: 60px auto;
}

.cloth-title {
  	font-size: 24px;
  	font-weight: 400;
  	margin-bottom: 50px;
}

.cloth-grid {
  	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	gap: 40px 60px;
}

.cloth-card {
  	display: flex; 
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
  	margin: 0;
  	margin-bottom:80px;
}

.cloth-card img {
  	width: 100%;
  	height: 500px;
  	object-fit: cover;
  	border-radius: 12px;
}

.cloth-card-title{
  	font-size: 18px;
  	font-weight: 500;
	margin-bottom: 3px;
}

.cloth-card-desc {
  	font-size: 14px;
  	font-weight: 300;
  	margin:0;
}








